h1{
    font-size: sans-serif;
    color: orange;
  }
  ul{
    background-color: blue;
  }
  .cor-de-fundo{
    background-color: gre;
    font-weight: 600;
    font-size: 48px;
  }
  .body{
    font-size: 16px;

  }
  li {
    font-style: italic;
    line-height: 60px;
    text-align: center;
    text-decoration: underline;

    font-size: 2em;
  }
  #maca { background-color: rgb(160, 61, 25); }
  #banana { background-color: rgb(182, 204, 40); }
  #goiaba { background-color: rgb(21, 63, 11); }